.box1{
    height: 100px;
    background-color: blue;
}
.box2{
    background-color: orangered;
    color: orangered;
}
.card1{
 height: 310px;
 background-color: blue;
}
.card2{
    height: 100px;
    background-color: blue;
}
.card3{
    height: 205px;
    background-color: blue;
}
.bor1{
    height: 98px;
    background-color: blue;
    margin-top: 105px;     
}
.bor2{
    height: 98px;
    background-color: blue;
}
.bor3{
    height: 98px;
    background-color: blue;
    margin-top: 210px;
}


















.btn{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color:blue;
    display: inline-block;
    color: white;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
}
@keyframes example{
  0% {
      background-color: blue;
  }
  25% {background-color:yellow;}
  50%  {background-color:blue;}
  75%  {background-color:green;}
  100% {background-color:orangered; }
}
.money{
    width:100%;
    color: black;
    position: absolute;
    box-shadow: 0 0 10px rgb(58, 56, 58);
    border-radius: 6px;
    top: 100%;
    left: 5%;
    display: none;
}
.money li{
margin-right: 500px;
display: block;
 font-size: 20px;
}
.money a{
    text-decoration: none;
}
.btn:hover .money{
 display: block;
}
 .money1:hover { 
     font-size: 30px;
    width: 100%;
}
a:hover{
    color: red;
}
.money2:hover {
    font-size: 30px;
    width: 100%;
}
.money3:hover {
    font-size: 30px;
    width: 100%;
} 